
# Swift Package Manager
Packages/
Package.pins
Package.resolved
*.xcodeproj


# Build directory
.build/


# CocoaPods
Pods/


# Xcode workspace & user data
*.xcworkspace
xcuserdata/*


# Firebase
GoogleService-Info.plist
